.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #283136;

    background-color: #ffffff;
}

button {
    text-align: center;
    padding: 0;
    cursor: pointer;
}

.container {
    width: 1200px;
    padding: 0 20px;
    margin: auto;
}

.background-container-header {
    background-color: #eeeeee;
}

.background-container-slider {
    background-color: #eeeeee;
}

.main-header {
    padding-top: 50px;
    display: flex;
}

.main-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 200px;
    min-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-navigation li:last-child {
    margin-left: auto;
}

.main-navigation a {
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding: 15px 0;
    width: 100px;
}

.main-navigation li:last-child a {
    padding-left: 22px;
}

/*--------------------------SLIDER-------------------------------------------*/

.slide-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
}

.slide-1 {
    display: flex;
    flex-direction: column;
    width: 380px;
    min-height: 280px;
    margin: 0;
    padding: 0;
    padding-top: 70px;
    padding-bottom: 80px;
}

.button {
    display: inline-block;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    border-radius: 3px;
    text-transform: uppercase;
    color: #ffffff;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    border: 0;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
}

.slide-1 a {
    width: 240px;
    background-color: #fb565a;
}

.slide-1 a:hover,
.slide-1 a:focus {
    background-color: #e74246;
}

.slide-1 a:active {
    background-color: #d7373b;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

/*---------------------services-----------------------------------------------*/

.services-list {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-bottom: 80px;
    padding-top: 80px;
}

.services-list li {
    width: 300px;
    margin-right: 100px;
    padding-top: 165px;
}

.services-list li:nth-child(3n) {
    margin-right: 60px;
}

.services-list-item h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.services-list-item p {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.services-list-item .button {
    width: 160px;
}

.services-list li:first-child {
    background-image: url(img/services-1.jpg);
    background-position: top;
    background-repeat: no-repeat;
}

.services-list li:first-child .button {
    background-color: #fb565a;
}

.services-list li:first-child .button:hover,
.services-list li:first-child .button:focus {
    background-color: #e74246;
}

.services-list li:first-child .button:active {
    background-color: #d7373b;
}

.services-list li:nth-child(2) {
    background-image: url(img/services-2.jpg);
    background-position: top;
    background-repeat: no-repeat;
}

.services-list li:nth-child(2) .button {
    background-color: #00ca74;
}

.services-list li:nth-child(2) .button:hover,
.services-list li:nth-child(2) .button:focus {
    background-color: #00bc6c;
}

.services-list li:nth-child(2) .button:active {
    background-color: #00aa62;
}

.services-list li:nth-child(3) {
    background-image: url(img/services-3.jpg);
    background-position: top;
    background-repeat: no-repeat;
}

.services-list li:nth-child(3) .button {
    background-color: #efc84a;
}

.services-list li:nth-child(3) .button:hover,
.services-list li:nth-child(3) .button:focus {
    background-color: #eab534;
}

.services-list li:nth-child(3) .button:active {
    background-color: #e5a722;
}

/*----------------features--------------------------------------------------*/
.features {
    display: flex;
    justify-content: space-between;
}

.features-colums-1 {
    width: 660px;
    padding-top: 70px;
}

.features-colums-1 b {
    display: block;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 35px;
}

.features-colums-1 p {
    display: block;
    margin-bottom: 30px;
}

.features-colums-1 h3 {
    display: block;
    margin-bottom: 25px;
    font-weight: 700;
    color: #000000;
}

.features-colums-2 {
    width: 360px;
    margin-top: 40px;
    padding-top: 235px;
    background-image: url(img/nerds-pic.jpg);
    background-position: top;
    background-repeat: no-repeat;
}

.features-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.features-list li {
    padding-left: 35px;
    margin-bottom: 25px;
    position: relative;
}

.features-list li::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    left: 0;
    top: 10px;
    background-color: #fc8e91;
}

.features-colums-2 h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
}

.features-colums-2 ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    width: 360px;
    margin-top: 35px;
}

.features-colums-2 ul span:first-child {
    font-size: 45px;
    line-height: 10px;
    font-weight: 700;
    color: #000000;
}

.symbol {
    font-size: 35px;
    vertical-align: super;
    color: #000000;
}

.features-colums-2-text {
    display: block;
    margin-top: 25px;
}
/*-------------------------------clients----------------------------------*/

.clients-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.clients-list li img {
    opacity: 0.2;
}

.clients-list a:hover img,
.clients-list a:focus img {
    opacity: 1;
}

.clients-list li:active img {
    opacity: 0.1;
}

/*---------------------------------------footer-----------------------------------*/

.footer-map img {
    display: none;
}

#map {
    position: relative;
    width: 1440px;
    height: 417px;
    padding: 0;
    margin: 0 auto;
}

.footer-map {
    position: relative;
}

.footer-contacts {
    position: absolute;
    display: block;
    width: 320px;
    height: 310px;
    left: 370px;
    top: 55px;
    padding: 50px;
    z-index: 1;
    background-color: #ffffff;

}

.footer-contacts b {
    display: block;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
}

.footer-contacts p {
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}

.footer-contacts button {
    width: 220px;
    background-color: #fb565a;
    text-align: center;
    padding: 0;
    margin-top: 25px;
}