.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #283136;

    background-color: #ffffff;
}

button {
    text-align: center;
    padding: 0;
    cursor: pointer;
}

.container {
    width: 1200px;
    padding: 0 20px;
    margin: auto;
}

.background-container-header {
    background-color: #eeeeee;
}

.background-container-slider {
    background-color: #eeeeee;
}

.main-header {
    padding-top: 50px;
    display: flex;
}

.main-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 200px;
    min-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-navigation li:last-child {
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.main-navigation a {
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    margin: 0;
    padding: 15px 20px;
}

.main-navigation li:last-child a {
    padding-right: 0;
    position: relative;
    padding-left: 40px !important;
}

.main-navigation li:last-child a::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    left: 0;
    top: 22px;
    background-image: url(img/cart-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main-navigation a:hover,
.main-navigation a:focus {
    color: #f78e90;
}

.main-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation li:last-child a {
    padding-left: 22px;
}

.logo-link:hover,
.logo-link:focus {
    opacity: 0.8;
}

.logo-link:active {
    opacity: 0.3;
}

.main-navigation--current {
    position: relative;
}

.main-navigation--current::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    right: 0;
    bottom: 0;
    background-color: #f7898b;
}

/*--------------------------SLIDER-------------------------------------------*/

.main-slider {
    position: relative;
}

.slide-title {
    width: 520px;
    display: block;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
}

.slides {
    width: 100%;
    min-height: 280px;
    margin: 0;
    padding: 0;
    padding-top: 70px;
    padding-bottom: 80px;
}

.slider__button {
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px rgba(24, 23, 23, 0.521);
    border-radius: 50%;
    background-color: rgba(24, 23, 23, 0.521);
}

.slider__button--active {
    background-color: #db282b;
}

.slider__button--1 {
    top: 90%;
    left: 46%;
}

.slider__button--2 {
    top: 90%;
    left: 48%;
}

.slider__button--3 {
    top: 90%;
    left: 50%;
}

.slide-1 {
    display: block;
    background-image: url(img/nerds-index-slide1.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 70%;
}

.slide-2 {
    display: none;
    background-image: url(img/slide2.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 55%;
}

.slide-3 {
    display: none;
    background-image: url(img/slide3.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 60%;
}

.slide--show {
    display: block;
}

.slide--hide {
    display: none;
}

.slides p {
    width: 385px;
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    margin-top: 30px;
}

.button {
    display: inline-block;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    border-radius: 3px;
    text-transform: uppercase;
    color: #ffffff;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    border: 0;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
}

.slides a {
    width: 240px;
    background-color: #fb565a;
}

.slides a:hover,
.slides a:focus {
    background-color: #e74246;
}

.slides a:active {
    background-color: #d7373b;
}

/*---------------------services-----------------------------------------------*/

.services {
    border-bottom: 2px solid #eeeeee;
}

.services-list {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-bottom: 80px;
    padding-top: 80px;
}

.services-list li {
    width: 300px;
    margin-right: 100px;
    padding-top: 165px;
}

.services-list li:nth-child(3n) {
    margin-right: 60px;
}

.services-list-item h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.services-list-item p {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.services-list-item .button {
    width: 160px;
}

.services-list li:first-child {
    background-image: url(img/services-1.jpg);
    background-position: top;
    background-repeat: no-repeat;
}

.services-list li:first-child .button {
    background-color: #fb565a;
}

.services-list li:first-child .button:hover,
.services-list li:first-child .button:focus {
    background-color: #e74246;
}

.services-list li:first-child .button:active {
    background-color: #d7373b;
}

.services-list li:nth-child(2) {
    background-image: url(img/services-2.jpg);
    background-position: top;
    background-repeat: no-repeat;
}

.services-list li:nth-child(2) .button {
    background-color: #00ca74;
}

.services-list li:nth-child(2) .button:hover,
.services-list li:nth-child(2) .button:focus {
    background-color: #00bc6c;
}

.services-list li:nth-child(2) .button:active {
    background-color: #00aa62;
}

.services-list li:nth-child(3) {
    background-image: url(img/services-3.jpg);
    background-position: top;
    background-repeat: no-repeat;
}

.services-list li:nth-child(3) .button {
    background-color: #efc84a;
}

.services-list li:nth-child(3) .button:hover,
.services-list li:nth-child(3) .button:focus {
    background-color: #eab534;
}

.services-list li:nth-child(3) .button:active {
    background-color: #e5a722;
}

/*----------------features--------------------------------------------------*/
.features {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 60px;
}

.features-colums-1 {
    width: 660px;
    padding-top: 70px;
}

.features-colums-1 b {
    display: block;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 35px;
}

.features-colums-1 p {
    display: block;
    margin-bottom: 30px;
}

.features-colums-1 h3 {
    display: block;
    margin-bottom: 25px;
    font-weight: 700;
    color: #000000;
}

.features-colums-2 {
    width: 360px;
    margin-top: 40px;
    padding-top: 235px;
    background-image: url(img/nerds-pic.jpg);
    background-position: top;
    background-repeat: no-repeat;
}

.features-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.features-list li {
    padding-left: 35px;
    margin-bottom: 25px;
    position: relative;
}

.features-list li::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    left: 0;
    top: 10px;
    background-color: #fc8e91;
}

.features-colums-2 b {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 45px;
}

.features-colums-2 ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    width: 360px;
    margin-top: 35px;
}

.features-colums-2 ul li {
    margin: 0;
    padding: 0;
    margin-right: 22px;
}

.features-colums-2 ul span:first-child {
    font-size: 45px;
    line-height: 10px;
    font-weight: 700;
    color: #000000;
}

.symbol {
    font-size: 35px;
    vertical-align: super;
    color: #000000;
}

.features-colums-2-text {
    display: block;
    margin-top: 25px;
}
/*-------------------------------clients----------------------------------*/

.clients {
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 80px;
}

.clients-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.clients-list li img {
    opacity: 0.2;
}

.clients-list a:hover img,
.clients-list a:focus img {
    opacity: 1;
}

.clients-list li:active img {
    opacity: 0.1;
}

/*---------------------------------------footer-----------------------------------*/

.footer-map img {
    display: none;
}

#map {
    position: relative;
    width: 1440px;
    height: 417px;
    padding: 0;
    margin: 0 auto;
}

.footer-map {
    position: relative;
}

.footer-contacts {
    position: absolute;
    display: block;
    width: 320px;
    height: 310px;
    left: 370px;
    top: 55px;
    padding: 50px;
    z-index: 1;
    background-color: #ffffff;

}

.footer-contacts b {
    display: block;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
}

.footer-contacts p {
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}

.footer-contacts button {
    width: 220px;
    background-color: #fb565a;
    text-align: center;
    padding: 0;
    margin-top: 25px;
}

.footer-contacts button:hover,
.footer-contacts button:focus {
    background-color: #e74246;
}

.footer-social-icons {
    display: flex;
    width: 260px;
    min-height: 80px;
    margin: 0;
    padding: 0;
    margin-right: 180px;
    list-style: none;
    justify-content: space-between;
}

.footer-social-icons a {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
}

.footer-social-icons a::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 80px;
    background-color: #e1e1e1;
    border-radius: 50%;
    z-index: -1;
}

.footer-social-icons a:hover::before,
.footer-social-icons a:focus::before {
    background-color: #e74246;
}

.footer-social-icons a:active::before {
    background-color: #d7373b;
}

.footer-social-icons li {
    margin: 0;
    padding: 0;
    width: 80px;
    height: 80px;
}

.footer-social-icons li:first-child {
    background-image: url(img/vk-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.footer-social-icons li:nth-child(2) {
    background-image: url(img/fb-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.footer-social-icons li:nth-child(3) {
    background-image: url(img/insta-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.footer-social {
    display: flex;
    padding-top: 80px;
    padding-bottom: 70px;
}

.footer-social-text strong {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

/*-------------------------------MODAL------------------------------------*/

.modal-contact-us {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0;
    margin-top: -295px;
    margin-left: -480px;
    width: 960px;
    padding-top: 70px;
    padding-bottom: 85px;
    padding-left: 100px;
    padding-right: 100px;

    background-color: #ffffff;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    z-index: 1;
}

@keyframes bounce {
    0% {
    transform: translateY(-2000px);
    }
  
    70% {
    transform: translateY(30px);
    }
  
    90% {
    transform: translateY(-10px);
    }
  
    100% {
    transform: translateY(0);
}
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-contact-us span {
    display: block;
    margin-bottom: 15px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    margin-bottom: 35px;
}

.contact-us-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font: inherit;
}

.contact-us-form p {
    margin: 0;
    padding: 0;
}

.contact-us-form label {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.contact-us-form input {
    display: block;
    width: 360px;
    margin: 0;
    padding: 0;
    padding: 15px;
    margin-bottom: 30px;
    border: 2px solid #e3e7e8;
    border-radius: 3px;
}

.contact-us-form textarea {
    width: 760px;
    height: 115px;
    margin: 0;
    padding: 0;
    padding: 15px;
    margin-bottom: 45px;
    border: 2px solid #e3e7e8;
    border-radius: 3px;
}

.contact-us-form input:hover,
.contact-us-form textarea:hover {
    border: 2px solid #000000;
}

.contact-us-form input:invalid {
    border: 2px solid #ef8184;
}

.contact-us-form .button {
    width: 260px;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #fb565a;
}

.contact-us-form .button:hover,
.contact-us-form .button:focus {
    background-color: #e74246;
}

.contact-us-form .button:active {
    background-color: #d7373b;
}

.modal-close {
    position: absolute;
    font-size: 0;
    width: 25px;
    height: 25px;
    top: 75px;
    left: 870px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.modal-close::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 27px;
    top: -1px;
    left: 10px;
    background-color: #fed4d5;
    transform: rotate(-45deg);
}

.modal-close::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 27px;
    top: -1px;
    left: 10px;
    background-color: #fed4d5;
    transform: rotate(45deg);
}

.modal-close:hover::before,
.modal-close:hover::after {
    background-color: #fb565a;
}

.modal-close:active::before,
.modal-close:active::after {
    background-color: #ffeeee;
}

.catalog-title {
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 65px;
    padding-bottom: 105px;
    text-align: center;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    font-weight: 500;
}

/*-------------------------------------CATALOG-FILTERS---------------------------------*/

.filters {
    min-width: 265px;
    margin-right: 140px;
    margin-top: -8px;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.filters__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.grid label {
    position: relative;
    padding-left: 35px;
    color: #283136;
}

.grid label::before {
    content: "";
    position: absolute;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border: 4px solid #a7a7a7;
    border-radius: 50%;
}

.filters__radio:checked + label::after {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    top: 6px;
    left: 8px;;
    background-color: #a7a7a7;
    border-radius: 50%;
}

.filters__item {
    margin-bottom: 10px;
}

.filters legend {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
}

.grid__item:hover label {
    font-weight: 450;
    color: #000000;
}

.filters__radio:disabled + label {
    color: #ededed;
}

.grid__item:hover label::before {
    border: 4px solid #636363;
}

.grid__item input:disabled + label::before {
    border: 4px solid #ededed;
}

.grid__item:hover label::after {
    background-color: #636363;
}

.grid__item input:disabled + label::after {
    background-color: #ededed;
}


.options__item {
    position: relative;
    padding-left: 36px;
}

.filters__checkbox + label::before {
    content: url(img/checkbox-off.svg);
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
}

.filters__checkbox:checked + label::before {
    content: url(img/checkbox-on.svg);
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
}

.options__item:hover label {
    font-weight: 450;
    color: #000000;
}

.options__item:hover label::before {
    opacity: 0.7;
}

.filters__form button {
    background-color: #eeeeee;
    width: 80%;
    padding-bottom: 12px;
    color: #000000;
}

.filters__form button:hover,
.filters__form button:focus {
    background-color: #dfdfdf;
}

/*-----------------------------------------CATALOG-----------------------------------*/

.inner-main {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}

.catalog__link-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    justify-content: space-between;
}

.catalog__link-list a {
    opacity: 0.3;
}

.catalog__link-list a:hover {
    opacity: 0.6;
}

.catalog__link-list a:active {
    opacity: 1;
}

.arrow {
    display: inline-block;
    width: 11px;
    height: 10px;
}

.arrow-down {
    background-image: url(img/arrow-down.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.arrow-up {
    background-image: url(img/arrow-up.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.filter-selected {
    opacity: 1 !important;
}

.catalog__link-list b {
    margin-right: 265px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.catalog__catalog-item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog__item {
    position: relative;
    padding-top: 39px;
    margin-bottom: 35px;
    transition: 0.8s;
}

.catalog__item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    border-radius: 5px 5px 0 0;
    background-color: #e9e9e9;
    transition: 0.8s;
}

.catalog__link-list-item a {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.catalog__item-hover {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    width: 360px;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
    opacity: 0;
    transition: 0.8s;
}

.circle {
    display: inline-block;
    position: absolute;
    left: 40px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
}

.circle1 {
    top: 12px;
    left: 15px;
}

.circle2 {
    top: 12px;
    left: 40px;
}

.circle3 {
    top: 12px;
    left: 65px;
}

.catalog__item:hover {
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    border-radius: 5px;
}

.catalog__item:hover .catalog__item-hover {
    opacity: 1;
}

.catalog__item:hover::before {
    background-color: #4d4d4d;
}

.catalog__item-hover h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.catalog__item-hover p {
    color: #666666;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    padding-bottom: 30px;
}

.catalog__item-hover button {
    padding-bottom: 15px;
    background-color: #fb565a;
}

.catalog__item-hover button:hover,
.catalog__item-hover button:focus {
    background-color: #e74246;
}

/*---------------------------------------PAGINATION-------------------------------*/

.pagination-list {
    display: flex;
    min-width: 445px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination-item a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    padding-top: 16px;
    text-align: center;

    margin-right: 10px;
    width: 50px;
    height: 50px;
    background-color: #eeeeee;
    border-radius: 3px;
}

.pagination-item:hover a,
.pagination-item:focus a {
    background-color: #dfdfdf;
}

.pagination-item:active a {
    background-color: #d5d5d5;
    color: #b3b3b3;
}

.pagination-item-current a {
    background-color: #ffffff;
    border: 3px solid #dbdbdb;
    padding-top: 13px;
}

.pagination-item-current:hover a,
.pagination-item-current:focus a {
    background-color: #ffffff;
}

.pagination-item:last-child a {
    width: 260px;
    padding-left: 0;
}